 .u-section-1 {
  background-image: linear-gradient(#c0c0c0, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 2035px;
}

.u-section-1 .u-group-1 {
  width: 146px;
  min-height: 42px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0 29px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -58px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 1895px;
  grid-gap: 17px;
  margin: 22px 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-group-2 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -1020px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-3 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -44px auto 0 394px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-4 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -44px 70px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-5 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: 440px 858px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-6 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -46px auto 0 394px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-7 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: 0 -538px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-8 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -90px 70px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-9 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: 444px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-10 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -44px auto 0 394px;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-11 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: 0 -804px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-12 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -1537px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 14px;
}

.u-section-1 .u-group-13 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -44px auto 0 394px;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-group-14 {
  width: 282px;
  min-height: 44px;
  height: auto;
  background-image: none;
  margin: -44px 67px 60px auto;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 844px;
    margin-left: 125px;
    height: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 1562px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -770px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -770px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: -771px;
    margin-right: 658px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-top: -1498px;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    margin-top: -771px;
    height: auto;
  }

  .u-section-1 .u-group-13 {
    margin-top: -770px;
    height: auto;
  }

  .u-section-1 .u-group-14 {
    margin-top: -770px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2378px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 734px;
    margin-left: 235px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2723px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-group-2 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -1843px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -1843px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1866px;
    margin-right: 438px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -3688px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -1866px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -1843px;
  }

  .u-section-1 .u-group-14 {
    margin-top: -1843px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6312px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 644px;
    margin-left: 325px;
  }

  .u-section-1 .u-gallery-1 {
    height: 8292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-group-2 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -5696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -5696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -11556px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-12 {
    margin-top: -5800px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -5696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-14 {
    margin-top: -5696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4069px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 482px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 5290px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -3500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -3500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-10 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    margin-top: -7070px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-12 {
    margin-top: -3557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-13 {
    margin-top: -3500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    margin-top: -3500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}